<script>
  var selectCallback = function(variant, selector) {
    
    var form = jQuery('#' + selector.domIdPrefix).closest('form');
    var submitButton = form.find('input[type="submit"]');
    if (variant) {
      var featured_image = '{{ product.featured_image | img_url: 'master' }}';
      if (variant.featured_image && variant.featured_image.src) {
        featured_image = variant.featured_image.src;
      }
      var product_featured_image = jQuery('[udy-el="product-featured-image"]');
        if (product_featured_image.length) {
          if (product_featured_image.is("img")) {
             product_featured_image.attr('src', featured_image);
          }else {
            product_featured_image.css("background-image", "url('"+ featured_image + "')");
          }
        }
      if (variant.available) {
        // Selected a valid variant that is available.
        submitButton.removeClass('disabled').removeAttr('disabled').val('{{ 'general.add_to_cart' | t }}').fadeTo(200,1);
      } else {
        submitButton.val('{{ 'general.sold_out' | t }}').addClass('disabled').attr('disabled', 'disabled').fadeTo(200,0.5);
                                                                        
      }
                                                                      
      if ( variant.compare_at_price > variant.price ) {
         jQuery('[udy-el="compare-price"]').removeClass('udesly-display-none');
        jQuery('[udy-el="current-price"]').html("<span class='money'>" + Shopify.formatMoney(variant.price, "{{ shop.money_with_currency_format }}") + "</span>");
        jQuery('[udy-el="compare-price"]').html("<span class='money'>" + Shopify.formatMoney(variant.compare_at_price, "{{ shop.money_with_currency_format }}") + "</span>");
      } else {
        jQuery('[udy-el="current-price"]').html("<span class='money'>" + Shopify.formatMoney(variant.price, "{{ shop.money_with_currency_format }}") + "</span>");
        jQuery('[udy-el="compare-price"]').html('');
      }
        
    } else {
      submitButton.val('{{ 'general.product_unavailable' | t }} ').addClass('disabled').attr('disabled', 'disabled').fadeTo(200,0.5);
    }
    if (variant) {
     
    var form = jQuery('#' + selector.domIdPrefix).closest('form');
    for (var i=0,length=variant.options.length; i<length; i++) {
      var radioButton = form.find('[data-product-option-index="'+ i+'"] :radio[value="' + variant.options[i] + '"]');
      if (radioButton.length) {
        radioButton.get(0).checked = true;
      }
    }
  }
  };

  var product = {{ product | json }};
  document.querySelectorAll('[data-udy-element="single-option-selector"]').forEach( function(select) {
    var dynItem = select.closest('.w-dyn-item');
    if (dynItem && !dynItem.hasAttribute("ignore")) {
     return; 
    }
    new Shopify.OptionSelectors(select.id, { product: product, onVariantSelected: selectCallback, enableHistoryState: true });
  });
  </script>
  <script>
  jQuery(function() {
    jQuery('[data-product-option-index] :radio').change(function() {
      var optionIndex = jQuery(this).closest('[data-product-option-index]').attr('data-product-option-index');
      var optionValue = jQuery(this).val();
      jQuery(this).closest('[data-product-option-index]').find('.variation-element').removeClass('selected');
      jQuery(this).closest('label').addClass('selected');
      jQuery(this)
        .closest('form')
        .find('.single-option-selector')
        .eq(optionIndex)
        .val(optionValue)
        .trigger('change');
    });
  });
  </script>
<script>
   (function() {

var forms = document.querySelectorAll('[udy-el^="single-add-to-cart"] form');
forms.forEach(function(form) {

  form.addEventListener('submit', function(e) {
    e.preventDefault();
    var submit = jQuery(form).find('input[type="submit"]');
    if (!submit.data('value')) {
        submit.data('value', submit.val())
       }
    submit.val(submit.data('loading-text') || '{{ 'general.adding_product_to_cart' | t }}').attr('disabled', 'disabled');
    
    const data = new FormData(form);

    data.delete('id');

    data.set('id', form.querySelector('select[name="id"]').value);

    fetch('/cart/add.js', {method: "POST", body: data}).then(function() {
       document.body.dispatchEvent(new CustomEvent('product-added-to-cart'));
       document.body.dispatchEvent(new CustomEvent('cart-should-be-updated'));
      
       submit.val(submit.data('value')).removeAttr('disabled');
     }).catch(function(f) {
      console.error(f);
      var failure = JSON.parse(f.responseText);
      document.body.dispatchEvent(new CustomEvent('cart-error', {
        detail: failure.description || "Error"
      }));
      submit.val(submit.data('value')).removeAttr('disabled');
    })
  });

})

})();
</script>