{% layout 'customers_order' %}
      
  <div data-collapse="medium" data-animation="over-right" data-duration="400" bind="2c866d2c-40f0-3cd3-2bf4-1a5885c69c6b" data-easing="ease" data-easing2="ease" role="banner" class="nav03 w-nav">
    <div class="nav03_container">
      <div class="nav03_left">
        <a href="/" class="nav03_logo w-nav-brand"><img src="{{ 'AquaB-Logo-Blue.svg' | asset_url }}" width="140" option:image="Logo" alt="" class="nav03_logo_image"></a>
      </div>
      <nav role="navigation" class="nav03_links w-nav-menu">
        <a href="/" class="nav03_link w-nav-link">{{ 'customers_order.A_0' | t }}</a>
        <a href="/collections/try-now" class="nav03_link mobile w-nav-link">{{ 'customers_order.A_1' | t }}</a>
        <a href="/collections/subscriptions" class="nav03_link mobile w-nav-link">{{ 'customers_order.A_2' | t }}</a>
        <a href="/#how" class="nav03_link w-nav-link">{{ 'customers_order.A_3' | t }}</a>
        <a href="/#why" class="nav03_link w-nav-link">{{ 'customers_order.A_4' | t }}</a>
        <div class="social-menu-mobile">
          <div class="footer-link-title">{{ 'customers_order.DIV_5' | t }}</div>
          <div class="f01_social_wrap">
            <a href="https://www.instagram.com/aqua_botanical/" target="_blank" class="social-circle w-inline-block"><img src="https://uploads-ssl.webflow.com/608a9ab81483724b68ddf9bb/608a9ab8148372fe82ddfad1_instagram.svg" alt="" class="f01_social_icon"></a>
            <a href="https://www.facebook.com/AquaBotanicalWater" target="_blank" class="social-circle w-inline-block"><img src="{{ 'forest_facebook.svg' | asset_url }}" alt="facebook logo" class="f01_social_icon"></a>
            <a href="https://www.linkedin.com/company/aquabotanical/" target="_blank" class="social-circle w-inline-block"><img src="https://uploads-ssl.webflow.com/608a9ab81483724b68ddf9bb/608a9ab81483725528ddfacc_linkedin.svg" alt="" class="f01_social_icon"></a>
          </div>
        </div>
      </nav>
      <div class="nav03_right">
        <div class="nav03_menu_button-2 w-nav-button">
          <div class="nav03_icon w-icon-nav-menu"></div>
        </div>
        <div class="subscribe-button-wrap nav">
          <a href="/collections/try" class="solidbluebutton header outline w-button">{{ 'customers_order.A_6' | t }}</a>
          <div class="div-block-143"></div>
          <a data-w-id="2c866d2c-40f0-3cd3-2bf4-1a5885c69c7b" href="/collections/subscriptions" class="solidbluebutton w-button">{{ 'customers_order.A_7' | t }}</a>
          <div class="div-block-156"></div>
        </div>
        <div data-node-type="commerce-cart-wrapper" data-open-product="" data-wf-cart-type="modal" data-wf-cart-query="" data-wf-page-link-href-prefix="" class="w-commerce-commercecartwrapper minicart">
          <a href="#" data-node-type="commerce-cart-open-link" class="w-commerce-commercecartopenlink cart-button-2 w-inline-block"><img src="{{ 'shopping-bag-dark.svg' | asset_url }}" alt="shopping bag dark" class="cart-icon-2">
            <div class="icon-nav-bg"></div>
            <div style="display:none" data-count-hide-rule="empty" class="w-commerce-commercecartopenlinkcount cart-quantity-2" udy-el="cart-count">{{ cart.item_count }}</div>
          </a>
          <div data-node-type="commerce-cart-container-wrapper" style="display:none" class="w-commerce-commercecartcontainerwrapper w-commerce-commercecartcontainerwrapper--cartType-modal cart-wrapper">
            <div data-node-type="commerce-cart-container" class="w-commerce-commercecartcontainer cart-container-2">
              <div class="w-commerce-commercecartheader cart-header">
                <h4 class="w-commerce-commercecartheading cart-header">{{ 'customers_order.H4_8' | t }}</h4>
                <a href="#" data-node-type="commerce-cart-close-link" class="w-commerce-commercecartcloselink w-inline-block">
                  <div class="close-popup"></div>
                </a>
              </div>
              <div class="w-commerce-commercecartformwrapper">
                <form data-node-type="commerce-cart-form" class="w-commerce-commercecartform {% if cart.item_count == 0 %}udesly-display-none{% endif %}">
                  <ul role="list" class="mini-cart-list" udy-el="items-list">
                    {% for item in cart.items %}<li class="mini-cart-list-item">
                      <div class="mini-cart-image"><img src="{{ item | img_url: 'large' }}" loading="lazy" alt="{{ item.alt }}"></div>
                      <div class="div-block-310">
                        <div class="div-block-309">
                          <a href="{{ item.product.url }}" class="product-list-title">{{ item.product.title }}</a>
                          <div class="subscription"></div>
                          <div class="product-price in-card">{{ item.price | money }}</div>
                          <a href="/cart/change?line={{ forloop.index }}&amp;amp;quantity=0" class="remove-button w-inline-block" udy-el="remove-item">
                            <div>{{ 'customers_order.DIV_9' | t }}</div>
                          </a>
                        </div>
                        <div class="div-block-311">
                          <a href="#" class="button-9 w-button" udy-el="quantity-minus">{{ 'customers_order.A_10' | t }}</a>
                          <input class="udesly-fake-number-input quantity input" type="number" name="updates[{{ item.key }}]" id="updates_{{ item.key }}" data-line="{{ forloop.index }}" min="1" value="{{ item.quantity }}" data-inventory-policy="{{ item.variant.inventory_policy }}" data-inventory-quantity="{{ item.variant.inventory_quantity }}">
                          <a href="#" class="button-10 w-button" udy-el="quantity-plus">{{ 'customers_order.A_11' | t }}</a>
                        </div>
                      </div>
                    </li>{% endfor %}
                  </ul>
                  
                  
                  <div class="w-commerce-commercecartfooter {% if cart.item_count == 0 %}udesly-display-none{% endif %}" udy-el="cart-actions">
                    <div class="w-commerce-commercecartlineitem">
                      <div>{{ 'customers_order.DIV_12' | t }}</div>
                      <div class="w-commerce-commercecartordervalue product-price product-page" udy-el="cart-total">{{ order.total_price | money }}</div>
                    </div>
                    <div class="checkout-actions">
                      <a href="/checkout" value="Continue to Checkout" data-node-type="cart-checkout-button" class="w-commerce-commercecartcheckoutbutton solidbluebutton" data-loading-text="Hang Tight...">{{ 'customers_order.A_13' | t }}</a>
                    </div>
                  </div>
                </form>
                <div class="w-commerce-commercecartemptystate {% if cart.item_count != 0 %}udesly-display-none{% endif %}" udy-el="no-items-in-cart">
                  <div>{{ 'customers_order.DIV_14' | t }}</div>
                </div>
                <div style="display:none" data-node-type="commerce-cart-error" class="w-commerce-commercecarterrorstate">
                  <div class="w-cart-error-msg" data-w-cart-quantity-error="Product is not available in this quantity." data-w-cart-general-error="Something went wrong when adding this item to the cart." data-w-cart-checkout-error="Checkout is disabled on this site." data-w-cart-cart_order_min-error="Cart failed." data-w-cart-subscription_error-error="Cart failed.">{{ 'customers_order.DIV_15' | t }}</div>
                </div>
              </div>
            </div>
          </div>
        <script id="mini-cart-template">
          window.udeslyMiniCartTemplate = function(item) {
            return `<li class="mini-cart-list-item" data-item-id="${item.id}">
                      <div class="mini-cart-image"><img src="${item.image}" loading="lazy" alt=""></div>
                      <div class="div-block-310">
                        <div class="div-block-309">
                          <a href="#" class="product-list-title">${item.product_title}</a>
                          <div class="subscription"></div>
                          <div class="product-price in-card">${item.price}</div>
                          <a href="${item.remove}" class="remove-button w-inline-block" udy-el="remove-item">
                            <div>Remove</div>
                          </a>
                        </div>
                        <div class="div-block-311">
                          <a href="#" class="button-9 w-button" udy-el="quantity-minus">-</a>
                          <input class="udesly-fake-number-input quantity input" type="number" name="updates[${item.id}]" id="updates_${item.id}" data-line="${item.line}" min="1" value="${item.quantity}">
                          <a href="#" class="button-10 w-button" udy-el="quantity-plus">+</a>
                        </div>
                      </div>
                    </li>`
          }
          </script></div>
      </div>
    </div>
  </div>
  <div class="faq01">
    <div class="c05_container">
      <div data-w-id="cee45468-0f7b-65df-7dab-734d9a4bb0bb" data-animation-type="lottie" data-src="https://uploads-ssl.webflow.com/5ec7d60489378b3a4e787f7f/5f450323678ac8ad4bd22a0c_data.json" data-loop="0" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="2.669335893945058" data-duration="0" class="confirmation-animation"></div>
      <div class="subheadings">{{ 'customers_order.DIV_16' | t }}</div>
      <h3 class="headings">{{ 'customers_order.H3_17' | t }}<span class="text-span-4">{{ 'customers_order.SPAN_18' | t }}</span><span class="c05_focus"></span><span class="focus_blue"></span></h3>
    </div>
  </div>
  <div bind="614183a78c59013f10bf3f56aN" data-node-type="commerce-order-confirmation-wrapper" data-wf-order-query="" data-wf-page-link-href-prefix="" class="w-commerce-commerceorderconfirmationcontainer faq01">
    <div class="w-commerce-commercelayoutcontainer container-18 w-container">
      <div class="w-commerce-commercelayoutmain">
        <div class="w-commerce-commercecheckoutcustomerinfosummarywrapper">
          <div class="w-commerce-commercecheckoutsummaryblockheader">
            <h4>{{ 'customers_order.H4_19' | t }}</h4>
          </div>
          <fieldset class="w-commerce-commercecheckoutblockcontent">
            <div class="w-commerce-commercecheckoutrow">
              <div class="w-commerce-commercecheckoutcolumn">
                <div class="w-commerce-commercecheckoutsummaryitem"><label class="w-commerce-commercecheckoutsummarylabel">{{ 'customers_order.LABEL_20' | t }}</label>
                  <div bind="614183a78c59013f10bf3f56000000000017"></div>
                </div>
              </div>
              <div bind="614183a78c59013f10bf3f56000000000018" class="w-commerce-commercecheckoutcolumn">
                <div class="w-commerce-commercecheckoutsummaryitem"><label class="w-commerce-commercecheckoutsummarylabel">{{ 'customers_order.LABEL_21' | t }}</label>
                  <div bind="614183a78c59013f10bf3f5600000000001c"></div>
                  <div bind="614183a78c59013f10bf3f5600000000001d"></div>
                  <div bind="614183a78c59013f10bf3f5600000000001e"></div>
                  <div class="w-commerce-commercecheckoutsummaryflexboxdiv">
                    <div bind="614183a78c59013f10bf3f56000000000020" class="w-commerce-commercecheckoutsummarytextspacingondiv"></div>
                    <div bind="614183a78c59013f10bf3f56000000000021" class="w-commerce-commercecheckoutsummarytextspacingondiv"></div>
                    <div bind="614183a78c59013f10bf3f56000000000022" class="w-commerce-commercecheckoutsummarytextspacingondiv"></div>
                  </div>
                  <div bind="614183a78c59013f10bf3f56000000000023"></div>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        <div bind="614183a78c59013f10bf3f56000000000024" class="w-commerce-commercecheckoutshippingsummarywrapper">
          <div class="w-commerce-commercecheckoutsummaryblockheader">
            <h4>{{ 'customers_order.H4_22' | t }}</h4>
          </div>
          <fieldset class="w-commerce-commercecheckoutblockcontent">
            <div class="w-commerce-commercecheckoutrow">
              <div class="w-commerce-commercecheckoutcolumn">
                <div class="w-commerce-commercecheckoutsummaryitem">
                  <div bind="614183a78c59013f10bf3f5600000000002c"></div>
                  <div bind="614183a78c59013f10bf3f5600000000002d"></div>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="w-commerce-commercecheckoutpaymentsummarywrapper">
          <div class="w-commerce-commercecheckoutsummaryblockheader">
            <h4>{{ 'customers_order.H4_23' | t }}</h4>
          </div>
          <fieldset class="w-commerce-commercecheckoutblockcontent">
            <div class="w-commerce-commercecheckoutrow">
              <div class="w-commerce-commercecheckoutcolumn">
                <div class="w-commerce-commercecheckoutsummaryitem"><label class="w-commerce-commercecheckoutsummarylabel">{{ 'customers_order.LABEL_24' | t }}</label>
                  <div class="w-commerce-commercecheckoutsummaryflexboxdiv">
                    <div bind="614183a78c59013f10bf3f56000000000039" class="w-commerce-commercecheckoutsummarytextspacingondiv"></div>
                    <div bind="614183a78c59013f10bf3f5600000000003a" class="w-commerce-commercecheckoutsummarytextspacingondiv"></div>
                  </div>
                  <div class="w-commerce-commercecheckoutsummaryflexboxdiv">
                    <div bind="614183a78c59013f10bf3f5600000000003c"></div>
                    <div bind="614183a78c59013f10bf3f5600000000003d">{{ 'customers_order.DIV_25' | t }}</div>
                    <div bind="614183a78c59013f10bf3f5600000000003f"></div>
                  </div>
                </div>
              </div>
              <div class="w-commerce-commercecheckoutcolumn">
                <div class="w-commerce-commercecheckoutsummaryitem"><label class="w-commerce-commercecheckoutsummarylabel">{{ 'customers_order.LABEL_26' | t }}</label>
                  <div bind="614183a78c59013f10bf3f56000000000044"></div>
                  <div bind="614183a78c59013f10bf3f56000000000045"></div>
                  <div bind="614183a78c59013f10bf3f56000000000046"></div>
                  <div class="w-commerce-commercecheckoutsummaryflexboxdiv">
                    <div bind="614183a78c59013f10bf3f56000000000048" class="w-commerce-commercecheckoutsummarytextspacingondiv"></div>
                    <div bind="614183a78c59013f10bf3f56000000000049" class="w-commerce-commercecheckoutsummarytextspacingondiv"></div>
                    <div bind="614183a78c59013f10bf3f5600000000004a" class="w-commerce-commercecheckoutsummarytextspacingondiv"></div>
                  </div>
                  <div bind="614183a78c59013f10bf3f5600000000004b"></div>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="w-commerce-commercecheckoutorderitemswrapper">
          <div class="w-commerce-commercecheckoutsummaryblockheader">
            <h4>{{ 'customers_order.H4_27' | t }}</h4>
          </div>
          <fieldset class="w-commerce-commercecheckoutblockcontent">
            <script type="text/x-wf-template" id="wf-template-614183a78c59013f10bf3f56000000000051"></script>
            <div template-bind="614183a78c59013f10bf3f56000000000051" class="w-commerce-commercecheckoutorderitemslist" data-wf-collection="database.commerceOrder.userItems" data-wf-template-id="wf-template-614183a78c59013f10bf3f56000000000051"></div>
          </fieldset>
        </div>
      </div>
      <div class="w-commerce-commercelayoutsidebar">
        <div class="w-commerce-commercecheckoutordersummarywrapper">
          <div class="w-commerce-commercecheckoutsummaryblockheader">
            <h4>{{ 'customers_order.H4_28' | t }}</h4>
          </div>
          <fieldset class="w-commerce-commercecheckoutblockcontent">
            <div class="w-commerce-commercecheckoutsummarylineitem">
              <div>{{ 'customers_order.DIV_29' | t }}</div>
              <div bind="614183a78c59013f10bf3f5600000000006a"></div>
            </div>
            <script type="text/x-wf-template" id="wf-template-614183a78c59013f10bf3f5600000000006b">%3Cdiv%20class%3D%22w-commerce-commercecheckoutordersummaryextraitemslistitem%22%3E%3Cdiv%20bind%3D%22614183a78c59013f10bf3f5600000000006d%22%3E%3C%2Fdiv%3E%3Cdiv%20bind%3D%22614183a78c59013f10bf3f5600000000006e%22%3E%3C%2Fdiv%3E%3C%2Fdiv%3E</script>
            <div class="w-commerce-commercecheckoutordersummaryextraitemslist" data-wf-collection="database.commerceOrder.extraItems" data-wf-template-id="wf-template-614183a78c59013f10bf3f5600000000006b">
              <div class="w-commerce-commercecheckoutordersummaryextraitemslistitem">
                <div bind="614183a78c59013f10bf3f5600000000006d"></div>
                <div bind="614183a78c59013f10bf3f5600000000006e"></div>
              </div>
            </div>
            <div class="w-commerce-commercecheckoutsummarylineitem">
              <div>{{ 'customers_order.DIV_30' | t }}</div>
              <div bind="614183a78c59013f10bf3f56000000000072" class="w-commerce-commercecheckoutsummarytotal"></div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
  <div bind="7ca5b8ca-dc33-bdcc-5968-e2d4dd8472cb" class="cta-section">
    <div class="cta-container">
      <div class="cta-block">
        <div class="w-layout-grid cta-grid">
          <div class="content-block">
            <div class="title-wrapper">
              <h3 class="headings">{{ 'customers_order.H3_31' | t }}<span class="text-span-4 white">{{ 'customers_order.SPAN_32' | t }}</span>{{ 'customers_order.H3_33' | t }}<span class="c05_focus"></span><span class="focus_blue"></span></h3>
            </div>
            <p class="paragraph-white">{{ 'customers_order.P_34' | t }}</p>
            <div class="button-wrapper central">
              <div class="subscribe-button-wrap white">
                <div data-w-id="7ca5b8ca-dc33-bdcc-5968-e2d4dd8472dd">
                  <a href="/collections/subscriptions" class="solidbluebutton w-button">{{ 'customers_order.A_35' | t }}</a>
                </div>
                <a href="/collections/try" class="c06_link w-inline-block">
                  <div class="c06_link_text">{{ 'customers_order.DIV_36' | t }}<span class="link white">{{ 'customers_order.SPAN_37' | t }}</span></div><img src="https://uploads-ssl.webflow.com/608a9ab81483724b68ddf9bb/608a9ab81483720a39ddfbaa_Icon.svg" alt="" class="c06_link_arrow">
                </a>
              </div>
              <p class="text-small _10px-gap">{{ 'customers_order.P_38' | t }}<br></p>
            </div>
          </div>
          <div id="w-node-_7ca5b8ca-dc33-bdcc-5968-e2d4dd8472e9-dd8472cb" class="image-block">
            <div class="cta-image-wrapper"><img src="{{ 'Arms-Transparent.png' | asset_url }}" loading="lazy" alt="arms holding aqua botanical water" class="cta-image"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div bind="936351d0-b2b0-ab2e-c8e5-7948d8285d5b" class="footer-section">
    <div class="container-13"><img src="{{ 'AquaB-Logo-White.svg' | asset_url }}" loading="lazy" alt="" class="logo">
      <div class="grey-divider"></div>
      <div class="w-layout-grid footer-grid">
        <div class="footer-link-column-2">
          <div class="footer-link-title">{{ 'customers_order.DIV_39' | t }}</div>
          <a href="/pages/faq" class="footer-link">{{ 'customers_order.A_40' | t }}</a>
          <a href="/pages/become-a-wholesaler" class="footer-link">{{ 'customers_order.A_41' | t }}</a>
          <a href="/pages/support" class="footer-link">{{ 'customers_order.A_42' | t }}</a>
          <a href="/account/login" class="footer-link">{{ 'customers_order.A_43' | t }}</a>
          <a href="/account/register" class="footer-link">{{ 'customers_order.A_44' | t }}</a>
          <a href="/blogs/news" class="footer-link">{{ 'customers_order.A_45' | t }}</a>
        </div>
        <div class="footer-link-column-2">
          <div class="footer-link-title">{{ 'customers_order.DIV_46' | t }}</div>
          <a href="/pages/refund-policy" class="footer-link">{{ 'customers_order.A_47' | t }}</a>
          <a href="/pages/environmental-policy" class="footer-link">{{ 'customers_order.A_48' | t }}</a>
          <a href="/pages/privacy-policy" class="footer-link">{{ 'customers_order.A_49' | t }}</a>
          <a href="/pages/terms-of-service" class="footer-link">{{ 'customers_order.A_50' | t }}</a>
        </div>
        <div class="footer-link-column">
          <div class="footer-link-title">{{ 'customers_order.DIV_51' | t }}</div>
          <a href="http://www.botanicalwater.org/" target="_blank" class="w-inline-block"><img src="{{ '5b22537925fc062336f52e88_BWF-Logo-White.png' | asset_url }}" loading="lazy" alt="botanical water foundation logo white" class="image-56"></a>
        </div>
        <div class="footer-link-column-2">
          <div class="footer-link-title">{{ 'customers_order.DIV_52' | t }}</div>
          <a href="#" class="footer-link">{{ 'customers_order.A_53' | t }}</a>
          <div class="news-block w-form {% if form.posted_successfully? %}udy-form-posted-successfully{% endif %}">{% form 'customer' %}
            <form id="wf-form-Subscribe" name="wf-form-Subscribe" method="post" class="form-2"><div udesly-add-class="form-2"></div><input type="email" class="email-field w-input" maxlength="256" name="contact[email]" placeholder="Email address" id="email" required=""><input type="submit" value="🚀" data-wait="Please wait..." data-w-id="73a00406-2a42-bb7c-c23e-feddbad776ac" class="newsletter-blue w-button">{% include 'general-forms', form %}</form>
            <div class="success-message-3 w-form-done {% if form.posted_successfully? %}udy-form-success-message{% endif %}">
              <div>{{ 'customers_order.DIV_54' | t }}</div>
            </div>
            <div class="error-message-3 w-form-fail {% if form.errors %}udy-form-has-errors{% endif %}">
              <div>{% include 'form-errors' %}</div>
            </div>
          </div>{% endform %}
        </div>
      </div>
    </div>
  </div>
  <div bind="b89ebf75-64bc-30df-ee93-523f10b53aa4" class="footer-footer">
    <div class="w-layout-grid footer1-bottom-grid">
      <div id="w-node-b89ebf75-64bc-30df-ee93-523f10b53aa6-10b53aa4" class="div-block-18">
        <div bind="dd65958b-0278-eb91-ce01-679143d7ff2b" class="footer1-bottom-link w-embed w-script">{{ 'customers_order.DIV_55' | t }}<script>document.write(new Date().getFullYear());</script>{{ 'customers_order.DIV_56' | t }}</div>
        <div class="footer-spacer"></div>
      </div>
      <div class="div-block-18">
        <div class="f01_social_wrap">
          <a href="https://www.instagram.com/aqua_botanical/" target="_blank" class="social-circle w-inline-block"><img src="https://uploads-ssl.webflow.com/608a9ab81483724b68ddf9bb/608a9ab8148372fe82ddfad1_instagram.svg" alt="" class="f01_social_icon"></a>
          <a href="https://www.facebook.com/AquaBotanicalWater" target="_blank" class="social-circle w-inline-block"><img src="{{ 'forest_facebook.svg' | asset_url }}" alt="facebook logo" class="f01_social_icon"></a>
          <a href="https://www.linkedin.com/company/aquabotanical/" target="_blank" class="social-circle w-inline-block"><img src="https://uploads-ssl.webflow.com/608a9ab81483724b68ddf9bb/608a9ab81483725528ddfacc_linkedin.svg" alt="" class="f01_social_icon"></a>
        </div>
      </div>
    </div>
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=61530d352ea7cd652527263a" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="{{ 'webflow.js' | asset_url }}" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->

{% include 'notifications' %}{{ 'udesly-shopify.min.js' | asset_url | script_tag }}{{ 'option_selection.js' | shopify_asset_url | script_tag }}