

    <div class="faq01">
      <div class="container-6 w-container">
        <div class="faq01_title_wrap">
          <p class="faq01_title">HOW&nbsp;CAN&nbsp;WE&nbsp;HELP?</p>
          <h3 class="faq01_h3">Frequently Asked Questions</h3>
        </div>
        <div class="faq-wrap _800-max">
          <div class="faq-question-wrap">
            <a href="#" class="faq-question-bar-2 w-inline-block">
              <div class="question-title">{{ section.settings.question1 }}</div>
              <div data-w-id="e4270ea1-58b0-ef07-c1a8-f0e296720459" data-animation-type="lottie" data-src="https://uploads-ssl.webflow.com/60e238f957a19b6eced89a9e/60e238f957a19b52fdd89aac_animation-w1024-h1024%20(1).json" data-loop="0" data-direction="1" data-autoplay="0" data-is-ix2-target="1" data-renderer="svg" data-default-duration="3.036369579362504" data-duration="0" data-ix2-initial-state="12" class="animation"></div>
            </a>
            <div class="faq-content">
              <p class="faqs">{{ section.settings.answer1 }}</p>
            </div>
          </div>
          <div class="faq-question-wrap">
            <a href="#" class="faq-question-bar-2 w-inline-block">
              <div class="question-title">{{ section.settings.question2 }}</div>
              <div data-w-id="e4270ea1-58b0-ef07-c1a8-f0e296720461" data-animation-type="lottie" data-src="https://uploads-ssl.webflow.com/60e238f957a19b6eced89a9e/60e238f957a19b52fdd89aac_animation-w1024-h1024%20(1).json" data-loop="0" data-direction="1" data-autoplay="0" data-is-ix2-target="1" data-renderer="svg" data-default-duration="3.036369579362504" data-duration="0" data-ix2-initial-state="12" class="animation"></div>
            </a>
            <div class="faq-content">
              <p class="faqs">{{ section.settings.answer2 }}</p>
            </div>
          </div>
          <div class="faq-question-wrap">
            <a href="#" class="faq-question-bar-2 w-inline-block">
              <div class="question-title">{{ section.settings.question3 }}</div>
              <div data-w-id="e4270ea1-58b0-ef07-c1a8-f0e296720469" data-animation-type="lottie" data-src="https://uploads-ssl.webflow.com/60e238f957a19b6eced89a9e/60e238f957a19b52fdd89aac_animation-w1024-h1024%20(1).json" data-loop="0" data-direction="1" data-autoplay="0" data-is-ix2-target="1" data-renderer="svg" data-default-duration="3.036369579362504" data-duration="0" data-ix2-initial-state="12" class="animation"></div>
            </a>
            <div class="faq-content">
              <p class="faqs">{{ section.settings.answer3 }}</p>
            </div>
          </div>
          <div class="faq-question-wrap">
            <a href="#" class="faq-question-bar-2 w-inline-block">
              <div class="question-title">{{ section.settings.question4 }}</div>
              <div data-w-id="56a11caf-061c-e5e6-94fb-894b6c4eaa16" data-animation-type="lottie" data-src="https://uploads-ssl.webflow.com/60e238f957a19b6eced89a9e/60e238f957a19b52fdd89aac_animation-w1024-h1024%20(1).json" data-loop="0" data-direction="1" data-autoplay="0" data-is-ix2-target="1" data-renderer="svg" data-default-duration="3.036369579362504" data-duration="0" data-ix2-initial-state="12" class="animation"></div>
            </a>
            <div class="faq-content">
              <p class="faqs">{{ section.settings.answer4 }}</p>
            </div>
          </div>
        </div>
      </div>
      <a href="{{ section.settings.morefaqs }}" class="solidbluebutton w-button">MORE&nbsp;FAQS</a>
    </div>
  
<script>var currentSection = document.currentScript.closest('.shopify-section');currentSection.setAttribute("class","faq wf-section");</script>

{% schema %}
{
  "name": "FAQs",
  "class": "faq wf-section",
  "tag": "div",
  "settings": [
    {
      "type": "text",
      "id": "question1",
      "label": "question1",
      "default": "How Is AquaBotanical Made?"
    },
    {
      "type": "text",
      "id": "answer1",
      "label": "answer1",
      "default": "Fruit and vegetables naturally contain water. When fruit and vegetables are pressed to extract their juices to make products, a large amount of water is produced in parallel. AquaBotanical takes this water (known as ‘evaporative condensate’) and turns it into water using our patented technology. Until recently, the water extracted from fruit and vegetables grown by farmers world-wide was not re-usable. In fact, this valuable water source was discarded at the detriment of the environment.The end result is healthy, hydrating, sustainable and renewable pure drinking water. Clear and clean tasting water free of sugars, toxins and additives.All AquaBotanical Water is enriched with 74 plant minerals, and our Sparkling variety subtly carbonated, before being packed and sent for you to enjoy."
    },
    {
      "type": "text",
      "id": "question2",
      "label": "question2",
      "default": "Where Is It Made?"
    },
    {
      "type": "text",
      "id": "answer2",
      "label": "answer2",
      "default": "AquaBotanical Water can be harvested anywhere that fruit and vegetables are already pressed to extract their juices to make products. At the moment we capture water from carrots in Mildura (VIC), tomatoes in Echuca (VIC) and sugar cane in Condong (NSW), but this list is set to grow in the coming months."
    },
    {
      "type": "text",
      "id": "question3",
      "label": "question3",
      "default": "What Does It Taste Like?"
    },
    {
      "type": "text",
      "id": "answer3",
      "label": "answer3",
      "default": "AquaBotanical Water tastes just like normal water! There is no fruity or earthy taste to our water, you’d never know it’s made from 100% fruit and vegetables. We’ve even managed to get rid of the slightly salty and acidic after taste that exists in most mineral waters. It has a smooth and silky mouth-feel with a clean finish."
    },
    {
      "type": "text",
      "id": "question4",
      "label": "question4",
      "default": "What Fruit & Vegetables Are In It?"
    },
    {
      "type": "text",
      "id": "answer4",
      "label": "answer4",
      "default": "AquaBotanical Water is harvested from a variety of different fruit and vegetables. Each bottle contains water from a single fruit or vegetable harvest based on season and availability. Regardless of what produce is used, AquaBotanical still has the same great taste."
    },
    {
      "type": "url",
      "id": "morefaqs",
      "label": "morefaqs"
    }
  ]
}
{% endschema %}
