

    <div class="reviews">
      <div class="t06_container">
        <div data-delay="4000" data-animation="slide" class="t06_slider w-slider" data-autoplay="false" data-easing="ease-in-quad" data-hide-arrows="true" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="false" id="carousel">
          <div class="t06_mask w-slider-mask">
            <div class="t06_slider_nav w-slide">
              <div class="t06_card_base">
                <div class="t06_card">
                  <div class="t06_stars_wrap"><img src="https://uploads-ssl.webflow.com/608a9ab81483724b68ddf9bb/608a9ab81483728eacddfa10_stars.svg" alt="" class="t06_star"><img src="https://uploads-ssl.webflow.com/608a9ab81483724b68ddf9bb/608a9ab81483728eacddfa10_stars.svg" alt="" class="t06_star"><img src="https://uploads-ssl.webflow.com/608a9ab81483724b68ddf9bb/608a9ab81483728eacddfa10_stars.svg" alt="" class="t06_star"><img src="https://uploads-ssl.webflow.com/608a9ab81483724b68ddf9bb/608a9ab81483728eacddfa10_stars.svg" alt="" class="t06_star"><img src="https://uploads-ssl.webflow.com/608a9ab81483724b68ddf9bb/608a9ab81483728eacddfa10_stars.svg" alt="" class="t06_star"></div>
                  <h5 class="t06_h5">{{ section.settings.reviewhead1 }}</h5>
                  <p class="t06_paragraph">AquaBotanical still and sparkling water is pure delicious tasting water like no other. I love the glass bottle. It has a sleek design looking too. PLUS the water is 100% sustainably sourced. AquaBotanical is truly unique and they're unlike any other bottled water brand in the world. AquaBotanical makes the world a better place, that’s for sure!<br></p>
                  <div class="t06_team_wrap">
                    <div class="t06_author">
                      <div class="t06_author_wrap">
                        <div class="t06_name">Samantha P<br></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="t06_slider_nav _2 w-slide">
              <div class="t06_card_base">
                <div class="t06_card">
                  <div class="t06_stars_wrap"><img src="https://uploads-ssl.webflow.com/608a9ab81483724b68ddf9bb/608a9ab81483728eacddfa10_stars.svg" alt="" class="t06_star"><img src="https://uploads-ssl.webflow.com/608a9ab81483724b68ddf9bb/608a9ab81483728eacddfa10_stars.svg" alt="" class="t06_star"><img src="https://uploads-ssl.webflow.com/608a9ab81483724b68ddf9bb/608a9ab81483728eacddfa10_stars.svg" alt="" class="t06_star"><img src="https://uploads-ssl.webflow.com/608a9ab81483724b68ddf9bb/608a9ab81483728eacddfa10_stars.svg" alt="" class="t06_star"><img src="https://uploads-ssl.webflow.com/608a9ab81483724b68ddf9bb/608a9ab81483728eacddfa10_stars.svg" alt="" class="t06_star"></div>
                  <h5 class="t06_h5">{{ section.settings.reviewhead2 }}</h5>
                  <p class="t06_paragraph">My sister in law introduced me to AquaBotanical water last year. I am a big water drinker, although I used to just use filtered water from the fridge or the office water cooler to fill up my glass water bottle. I have tried branded bottled water before, and I know overall that most brands seem to taste about the same. This brand of water comes from a VERY sustainable source and has a clean sort of non-flavour to it, if that makes any sense. Not odd aftertaste or anything. AquaBotanical is now my preferred brand of water whenever I can find it.</p>
                  <div class="t06_team_wrap">
                    <div class="t06_author">
                      <div class="t06_author_wrap">
                        <div class="t06_name">Mary H<br></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="t06_slider_nav _3 w-slide">
              <div class="t06_card_base">
                <div class="t06_card">
                  <div class="t06_stars_wrap"><img src="https://uploads-ssl.webflow.com/608a9ab81483724b68ddf9bb/608a9ab81483728eacddfa10_stars.svg" alt="" class="t06_star"><img src="https://uploads-ssl.webflow.com/608a9ab81483724b68ddf9bb/608a9ab81483728eacddfa10_stars.svg" alt="" class="t06_star"><img src="https://uploads-ssl.webflow.com/608a9ab81483724b68ddf9bb/608a9ab81483728eacddfa10_stars.svg" alt="" class="t06_star"><img src="https://uploads-ssl.webflow.com/608a9ab81483724b68ddf9bb/608a9ab81483728eacddfa10_stars.svg" alt="" class="t06_star"><img src="https://uploads-ssl.webflow.com/608a9ab81483724b68ddf9bb/608a9ab81483728eacddfa10_stars.svg" alt="" class="t06_star"></div>
                  <h5 class="t06_h5">Love This Bottled Water</h5>
                  <p class="t06_paragraph">{{ section.settings.review1 }}</p>
                  <div class="t06_team_wrap">
                    <div class="t06_author">
                      <div class="t06_author_wrap">
                        <div class="t06_name">{{ section.settings.reviewname1 }}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="t06_slider_nav _4 w-slide">
              <div class="t06_card_base">
                <div class="t06_card">
                  <div class="t06_stars_wrap"><img src="https://uploads-ssl.webflow.com/608a9ab81483724b68ddf9bb/608a9ab81483728eacddfa10_stars.svg" alt="" class="t06_star"><img src="https://uploads-ssl.webflow.com/608a9ab81483724b68ddf9bb/608a9ab81483728eacddfa10_stars.svg" alt="" class="t06_star"><img src="https://uploads-ssl.webflow.com/608a9ab81483724b68ddf9bb/608a9ab81483728eacddfa10_stars.svg" alt="" class="t06_star"><img src="https://uploads-ssl.webflow.com/608a9ab81483724b68ddf9bb/608a9ab81483728eacddfa10_stars.svg" alt="" class="t06_star"><img src="https://uploads-ssl.webflow.com/608a9ab81483724b68ddf9bb/608a9ab81483728eacddfa10_stars.svg" alt="" class="t06_star"></div>
                  <h5 class="t06_h5">Proud To Say That I Drink Water Guilt Free!</h5>
                  <p class="t06_paragraph">{{ section.settings.review2 }}</p>
                  <div class="t06_team_wrap">
                    <div class="t06_author">
                      <div class="t06_author_wrap">
                        <div class="t06_name">{{ section.settings.reviewname2 }}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="t06_slider_nav _5 w-slide">
              <div class="t06_card_base">
                <div class="t06_card">
                  <div class="t06_stars_wrap"><img src="https://uploads-ssl.webflow.com/608a9ab81483724b68ddf9bb/608a9ab81483728eacddfa10_stars.svg" alt="" class="t06_star"><img src="https://uploads-ssl.webflow.com/608a9ab81483724b68ddf9bb/608a9ab81483728eacddfa10_stars.svg" alt="" class="t06_star"><img src="https://uploads-ssl.webflow.com/608a9ab81483724b68ddf9bb/608a9ab81483728eacddfa10_stars.svg" alt="" class="t06_star"><img src="https://uploads-ssl.webflow.com/608a9ab81483724b68ddf9bb/608a9ab81483728eacddfa10_stars.svg" alt="" class="t06_star"><img src="https://uploads-ssl.webflow.com/608a9ab81483724b68ddf9bb/608a9ab81483728eacddfa10_stars.svg" alt="" class="t06_star"></div>
                  <h5 class="t06_h5">{{ section.settings.reviewhead3 }}</h5>
                  <p class="t06_paragraph">{{ section.settings.review3 }}</p>
                  <div class="t06_team_wrap">
                    <div class="t06_author">
                      <div class="t06_author_wrap">
                        <div class="t06_name">{{ section.settings.reviewname3 }}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="t06_arrow_left w-slider-arrow-left">
            <div class="t06_icon w-icon-slider-left"></div>
          </div>
          <div class="t06_arrow_right-2 w-slider-arrow-right">
            <div class="t06_icon w-icon-slider-right"></div>
          </div>
          <div class="t06_slider_nav w-slider-nav w-round"></div>
        </div>
      </div>
    </div>
  
<script>var currentSection = document.currentScript.closest('.shopify-section');currentSection.setAttribute("class","reviews1 wf-section");</script>

{% schema %}
{
  "name": "reviews",
  "class": "reviews1 wf-section",
  "tag": "div",
  "settings": [
    {
      "type": "text",
      "id": "reviewhead1",
      "label": "ReviewHead1",
      "default": "Pure Delicious Tasting Water Like No Other"
    },
    {
      "type": "text",
      "id": "reviewhead2",
      "label": "ReviewHead2",
      "default": "Preferred Brand Of Water"
    },
    {
      "type": "text",
      "id": "review1",
      "label": "Review1",
      "default": "I love this bottled water and the fact they use glass bottles instead of horrific plastic and the water 100% comes from a sustainable source is pure perfection. The clean and fresh taste of the water is what drove me to purchase AquaBotanical. If you love clean water and want to not purchase more plastic and water waste, give AquaBotanical a try!"
    },
    {
      "type": "text",
      "id": "reviewname1",
      "label": "ReviewName1",
      "default": "Rebecca Z"
    },
    {
      "type": "text",
      "id": "review2",
      "label": "Review2",
      "default": "This is a great and unique bottled water. I don't know other water brands who source their water from fruit and vegetables and their water comes from 100% sustainable source. Do you?Also AquaBotanical doesn't have a mineral taste like some bottle waters do. I also love that's it comes in a glass bottle so that I can add my essential oils for flavour. I am now proud to say that I drink water guilt free! "
    },
    {
      "type": "text",
      "id": "reviewname2",
      "label": "ReviewName2",
      "default": "Abby A"
    },
    {
      "type": "text",
      "id": "reviewhead3",
      "label": "ReviewHead3",
      "default": "Conveniently Comes To You"
    },
    {
      "type": "text",
      "id": "review3",
      "label": "Review3",
      "default": "Before becoming an AquaBotanical loyal subscriber I used to purchase clean drinking water at my local grocery store. Water shouldn't be a grudge or labour intensive purchase. Now with AquaBotanical I can receive clean drinking water delivered to my door as frequently as I would like. We have opted for the fortnightly option. I no longer need to go to physically purchase water and carry heavy shopping to the car. AquaBotanical conveniently comes to you."
    },
    {
      "type": "text",
      "id": "reviewname3",
      "label": "ReviewName3",
      "default": "Justin P"
    }
  ]
}
{% endschema %}
