{% layout 'product' %}
      
  <a href="/collections/subscriptons" class="banner-bar w-inline-block">
    <div class="banner-wrap">
      <p class="announcement-bar-text">{{ 'product.P_0' | t }}<strong class="bold-text">{{ 'product.STRONG_1' | t }}</strong>{{ 'product.P_2' | t }}</p>
    </div>
  </a>
  <div data-collapse="medium" data-animation="over-right" data-duration="400" bind="2c866d2c-40f0-3cd3-2bf4-1a5885c69c6b" data-easing="ease" data-easing2="ease" role="banner" class="nav03 w-nav">
    <div class="nav03_container">
      <div class="nav03_left">
        <a href="/" class="nav03_logo w-nav-brand"><img src="{{ 'AquaB-Logo-Blue.svg' | asset_url }}" width="140" option:image="Logo" alt="" class="nav03_logo_image"></a>
      </div>
      <nav role="navigation" class="nav03_links w-nav-menu">
        <a href="/" class="nav03_link w-nav-link">{{ 'product.A_3' | t }}</a>
        <a href="/collections/try-now" class="nav03_link mobile w-nav-link">{{ 'product.A_4' | t }}</a>
        <a href="/collections/subscriptions" class="nav03_link mobile w-nav-link">{{ 'product.A_5' | t }}</a>
        <a href="/#how" class="nav03_link w-nav-link">{{ 'product.A_6' | t }}</a>
        <a href="/#why" class="nav03_link w-nav-link">{{ 'product.A_7' | t }}</a>
        <div class="social-menu-mobile">
          <div class="footer-link-title">{{ 'product.DIV_8' | t }}</div>
          <div class="f01_social_wrap">
            <a href="https://www.instagram.com/aqua_botanical/" target="_blank" class="social-circle w-inline-block"><img src="https://uploads-ssl.webflow.com/608a9ab81483724b68ddf9bb/608a9ab8148372fe82ddfad1_instagram.svg" alt="" class="f01_social_icon"></a>
            <a href="https://www.facebook.com/AquaBotanicalWater" target="_blank" class="social-circle w-inline-block"><img src="{{ 'forest_facebook.svg' | asset_url }}" alt="facebook logo" class="f01_social_icon"></a>
            <a href="https://www.linkedin.com/company/aquabotanical/" target="_blank" class="social-circle w-inline-block"><img src="https://uploads-ssl.webflow.com/608a9ab81483724b68ddf9bb/608a9ab81483725528ddfacc_linkedin.svg" alt="" class="f01_social_icon"></a>
          </div>
        </div>
      </nav>
      <div class="nav03_right">
        <div class="nav03_menu_button-2 w-nav-button">
          <div class="nav03_icon w-icon-nav-menu"></div>
        </div>
        <div class="subscribe-button-wrap nav">
          <a href="/collections/try" class="solidbluebutton header outline w-button">{{ 'product.A_9' | t }}</a>
          <div class="div-block-143"></div>
          <a data-w-id="2c866d2c-40f0-3cd3-2bf4-1a5885c69c7b" href="/collections/subscriptions" class="solidbluebutton w-button">{{ 'product.A_10' | t }}</a>
          <div class="div-block-156"></div>
        </div>
        <div data-node-type="commerce-cart-wrapper" data-open-product="" data-wf-cart-type="modal" data-wf-cart-query="" data-wf-page-link-href-prefix="" class="w-commerce-commercecartwrapper minicart">
          <a href="#" data-node-type="commerce-cart-open-link" class="w-commerce-commercecartopenlink cart-button-2 w-inline-block"><img src="{{ 'shopping-bag-dark.svg' | asset_url }}" alt="shopping bag dark" class="cart-icon-2">
            <div class="icon-nav-bg"></div>
            <div style="display:none" data-count-hide-rule="empty" class="w-commerce-commercecartopenlinkcount cart-quantity-2" udy-el="cart-count">{{ cart.item_count }}</div>
          </a>
          <div data-node-type="commerce-cart-container-wrapper" style="display:none" class="w-commerce-commercecartcontainerwrapper w-commerce-commercecartcontainerwrapper--cartType-modal cart-wrapper">
            <div data-node-type="commerce-cart-container" class="w-commerce-commercecartcontainer cart-container-2">
              <div class="w-commerce-commercecartheader cart-header">
                <h4 class="w-commerce-commercecartheading cart-header">{{ 'product.H4_11' | t }}</h4>
                <a href="#" data-node-type="commerce-cart-close-link" class="w-commerce-commercecartcloselink w-inline-block">
                  <div class="close-popup"></div>
                </a>
              </div>
              <div class="w-commerce-commercecartformwrapper">
                <form data-node-type="commerce-cart-form" class="w-commerce-commercecartform {% if cart.item_count == 0 %}udesly-display-none{% endif %}">
                  <ul role="list" class="mini-cart-list" udy-el="items-list">
                    {% for item in cart.items %}<li class="mini-cart-list-item">
                      <div class="mini-cart-image"><img src="{{ item | img_url: 'large' }}" loading="lazy" alt="{{ item.alt }}"></div>
                      <div class="div-block-310">
                        <div class="div-block-309">
                          <a href="{{ item.product.url }}" class="product-list-title">{{ item.product.title }}</a>
                          <div class="subscription"></div>
                          <div class="product-price in-card">{{ item.price | money }}</div>
                          <a href="/cart/change?line={{ forloop.index }}&amp;amp;quantity=0" class="remove-button w-inline-block" udy-el="remove-item">
                            <div>{{ 'product.DIV_12' | t }}</div>
                          </a>
                        </div>
                        <div class="div-block-311">
                          <a href="#" class="button-9 w-button" udy-el="quantity-minus">{{ 'product.A_13' | t }}</a>
                          <input class="udesly-fake-number-input quantity input" type="number" name="updates[{{ item.key }}]" id="updates_{{ item.key }}" data-line="{{ forloop.index }}" min="1" value="{{ item.quantity }}" data-inventory-policy="{{ item.variant.inventory_policy }}" data-inventory-quantity="{{ item.variant.inventory_quantity }}">
                          <a href="#" class="button-10 w-button" udy-el="quantity-plus">{{ 'product.A_14' | t }}</a>
                        </div>
                      </div>
                    </li>{% endfor %}
                  </ul>
                  
                  
                  <div class="w-commerce-commercecartfooter {% if cart.item_count == 0 %}udesly-display-none{% endif %}" udy-el="cart-actions">
                    <div class="w-commerce-commercecartlineitem">
                      <div>{{ 'product.DIV_15' | t }}</div>
                      <div class="w-commerce-commercecartordervalue product-price product-page" udy-el="cart-total">{{ cart.total_price | money }}</div>
                    </div>
                    <div class="checkout-actions">
                      <a href="/checkout" value="Continue to Checkout" data-node-type="cart-checkout-button" class="w-commerce-commercecartcheckoutbutton solidbluebutton" data-loading-text="Hang Tight...">{{ 'product.A_16' | t }}</a>
                    </div>
                  </div>
                </form>
                <div class="w-commerce-commercecartemptystate {% if cart.item_count != 0 %}udesly-display-none{% endif %}" udy-el="no-items-in-cart">
                  <div>{{ 'product.DIV_17' | t }}</div>
                </div>
                <div style="display:none" data-node-type="commerce-cart-error" class="w-commerce-commercecarterrorstate">
                  <div class="w-cart-error-msg" data-w-cart-quantity-error="Product is not available in this quantity." data-w-cart-general-error="Something went wrong when adding this item to the cart." data-w-cart-checkout-error="Checkout is disabled on this site." data-w-cart-cart_order_min-error="Cart failed." data-w-cart-subscription_error-error="Cart failed.">{{ 'product.DIV_18' | t }}</div>
                </div>
              </div>
            </div>
          </div>
        <script id="mini-cart-template">
          window.udeslyMiniCartTemplate = function(item) {
            return `<li class="mini-cart-list-item" data-item-id="${item.id}">
                      <div class="mini-cart-image"><img src="${item.image}" loading="lazy" alt=""></div>
                      <div class="div-block-310">
                        <div class="div-block-309">
                          <a href="#" class="product-list-title">${item.product_title}</a>
                          <div class="subscription"></div>
                          <div class="product-price in-card">${item.price}</div>
                          <a href="${item.remove}" class="remove-button w-inline-block" udy-el="remove-item">
                            <div>Remove</div>
                          </a>
                        </div>
                        <div class="div-block-311">
                          <a href="#" class="button-9 w-button" udy-el="quantity-minus">-</a>
                          <input class="udesly-fake-number-input quantity input" type="number" name="updates[${item.id}]" id="updates_${item.id}" data-line="${item.line}" min="1" value="${item.quantity}">
                          <a href="#" class="button-10 w-button" udy-el="quantity-plus">+</a>
                        </div>
                      </div>
                    </li>`
          }
          </script></div>
      </div>
    </div>
  </div>
  <div class="product-hero wf-section">
    <div class="container-14 w-container">
      <div class="product-image-wrapper"><img bind="5d847b52-ebab-2020-a52b-1a921ae6b375" loading="lazy" src="{{ product.featured_image | product_img_url: 'large' }}" alt="{{ product.featured_image.alt }}" class="image-58" udy-el="product-featured-image"></div>
      <div class="product-content-wrapper">
        <div class="product-content-block">
          <div class="product-head-wrapper">{{ product.title }}</div>
          <div class="separator"></div>
          <div data-commerce-type="variation-price" class="price-2" udy-el="current-price">{{ current_variant.price | money }}</div>
          <p class="paragraph-10">{{ product.description }}</p>
          <div class="button-wrapper central">
            <div udy-el="single-add-to-cart-select">
              {% form "product", product %}<form data-node-type="commerce-add-to-cart-form" class="w-commerce-commerceaddtocartform"><div udesly-add-class="w-commerce-commerceaddtocartform"></div>
                {% include 'single-product-variations-selector', index: 0 %}{% unless product.has_only_default_variant %}{% for option in product.options_with_values %}<div><label>{{ option.name }}</label>
                  <div data-hover="" data-delay="0" class="select-field w-dropdown" data-option="{{ "option" | append: forloop.index }}">
                    <div class="dropdown-toggle-4 w-dropdown-toggle">
                      <div class="icon-8 w-icon-dropdown-toggle"></div>
                      <div data-option-value="{{ "option" | append: forloop.index }}">{{ option.selected_value }}</div>
                    </div>
                    <nav class="w-dropdown-list">
                      {% for value in option.values %}<a class="w-dropdown-link" data-option-index="{{ forloop.index0 }}">{{ value }}</a>{% endfor %}
                      
                      
                    </nav>
                  </div>
                </div>{% endfor %}{% endunless %}<label for="quantity-4b15c280ea11e6a3b92d522c3eec69df">{{ 'product.LABEL_19' | t }}</label>
                <div class="div-block-308"><input type="number" pattern="^[0-9]+$" inputmode="numeric" id="quantity-4b15c280ea11e6a3b92d522c3eec69df" name="quantity" min="1" class="w-commerce-commerceaddtocartquantityinput quantity-5" value="1"><input type="submit" data-node-type="commerce-add-to-cart-button" data-loading-text="Adding to cart..." value="Add to Cart" class="w-commerce-commerceaddtocartbutton solidbluebutton"></div>
              <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}"></form>{% endform %}
              <div style="display:none" class="w-commerce-commerceaddtocartoutofstock">
                <div>{{ 'product.DIV_20' | t }}</div>
              </div>
              <div data-node-type="commerce-add-to-cart-error" style="display:none" class="w-commerce-commerceaddtocarterror" udy-el="add-to-cart-errors">
                <div data-node-type="commerce-add-to-cart-error" data-w-add-to-cart-quantity-error="Product is not available in this quantity." data-w-add-to-cart-general-error="Something went wrong when adding this item to the cart." data-w-add-to-cart-mixed-cart-error="You can’t purchase another product with a subscription." data-w-add-to-cart-buy-now-error="Something went wrong when trying to purchase this item." data-w-add-to-cart-checkout-disabled-error="Checkout is disabled on this site." data-w-add-to-cart-select-all-options-error="Please select an option in each set.">{{ 'product.DIV_21' | t }}</div>
              </div>
            </div>
          </div>
          <div class="form-style w-form">
            <form id="email-form" name="email-form" data-name="Email Form"><input type="submit" value="Submit" data-wait="Please wait..." class="w-button"><select id="field" name="field" data-name="Field" class="rc_widget__option__plans__dropdown-rc-selling-plans__dropdown w-select">
                <option value="">{{ 'product.OPTION_22' | t }}</option>
                <option value="First">{{ 'product.OPTION_23' | t }}</option>
                <option value="Second">{{ 'product.OPTION_24' | t }}</option>
                <option value="Third">{{ 'product.OPTION_25' | t }}</option>
              </select></form>
            <div class="w-form-done">
              <div>{{ 'product.DIV_26' | t }}</div>
            </div>
            <div class="w-form-fail">
              <div>{{ 'product.DIV_27' | t }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="te03_container">
    <div class="te03_title_wrap">
      <div class="te03_title_wrap">
        <h3 class="te03_h3">{{ 'product.H3_28' | t }}<span class="text-span-3">{{ 'product.SPAN_29' | t }}</span>{{ 'product.H3_30' | t }}</h3>
      </div>
    </div>
    <div class="te03_card_wrap">
      <div bind="f2e74db9-0625-7574-da0e-12f693526261" class="w-layout-grid grid">
        <div class="te03_card-3"><img src="{{ 'Icon1.gif' | asset_url }}" loading="lazy" height="160" alt="enriched with 74 plant minerals">
          <p class="main-paragraph">{{ 'product.P_31' | t }}</p>
          <div class="columns w-row">
            <div class="w-col w-col-6">
              <div class="lnd_check_wrap"><img src="https://uploads-ssl.webflow.com/608a9ab81483724b68ddf9bb/608a9ab81483726dfcddf9f3_check-circle.svg" width="24" alt="" class="check-icon">
                <p class="check-point">{{ 'product.P_32' | t }}<br></p>
              </div>
              <div class="lnd_check_wrap"><img src="https://uploads-ssl.webflow.com/608a9ab81483724b68ddf9bb/608a9ab81483726dfcddf9f3_check-circle.svg" width="24" alt="" class="check-icon">
                <p class="check-point">{{ 'product.P_33' | t }}<br></p>
              </div>
            </div>
            <div class="w-col w-col-6">
              <div class="lnd_check_wrap"><img src="https://uploads-ssl.webflow.com/608a9ab81483724b68ddf9bb/608a9ab81483726dfcddf9f3_check-circle.svg" width="24" alt="" class="check-icon">
                <p class="check-point">{{ 'product.P_34' | t }}<br></p>
              </div>
              <div class="lnd_check_wrap"><img src="https://uploads-ssl.webflow.com/608a9ab81483724b68ddf9bb/608a9ab81483726dfcddf9f3_check-circle.svg" width="24" alt="" class="check-icon">
                <p class="check-point">{{ 'product.P_35' | t }}<br></p>
              </div>
            </div>
          </div>
        </div>
        <div class="te03_card-3"><img src="{{ 'Icon2.gif' | asset_url }}" loading="lazy" height="160" alt="sustainable and renewable">
          <p class="main-paragraph">{{ 'product.P_36' | t }}<br></p>
        </div>
        <div class="te03_card-3"><img src="{{ 'Icon3.gif' | asset_url }}" loading="lazy" height="160" alt="good for all living creatures icon">
          <p class="main-paragraph">{{ 'product.P_37' | t }}</p>
          <div>
            <div class="lnd_check_wrap"><img src="https://uploads-ssl.webflow.com/608a9ab81483724b68ddf9bb/608a9ab81483726dfcddf9f3_check-circle.svg" width="24" alt="" class="check-icon">
              <p class="check-point">{{ 'product.P_38' | t }}<br></p>
            </div>
            <div class="lnd_check_wrap"><img src="https://uploads-ssl.webflow.com/608a9ab81483724b68ddf9bb/608a9ab81483726dfcddf9f3_check-circle.svg" width="24" alt="" class="check-icon">
              <p class="check-point">{{ 'product.P_39' | t }}<br></p>
            </div>
            <div class="lnd_check_wrap"><img src="https://uploads-ssl.webflow.com/608a9ab81483724b68ddf9bb/608a9ab81483726dfcddf9f3_check-circle.svg" width="24" alt="" class="check-icon">
              <p class="check-point">{{ 'product.P_40' | t }}<br></p>
            </div>
          </div>
        </div>
        <div class="te03_card-3"><img src="{{ 'Icon4.gif' | asset_url }}" loading="lazy" height="160" alt="">
          <p class="main-paragraph">{{ 'product.P_41' | t }}<br><br>{{ 'product.P_42' | t }}</p>
        </div>
      </div>
    </div>
  </div>
  <div show-if:wc="upsells" class="faq01 wf-section">
    <h2>{{ 'product.H2_43' | t }}</h2>
    <div class="container-17 w-container">
      <div class="collection-pruduct-home w-dyn-list">
        <div bind="4d477715-14f8-b491-b5fe-db661f5bfb94" role="list" class="collection-list-home w-dyn-items">
          {% for product in collections[settings.related_collection].products limit: settings.related_collection_limit %}<div bind="4d477715-14f8-b491-b5fe-db661f5bfb95" role="listitem" class="collection-item-9 w-dyn-item">
            <div bind="4d477715-14f8-b491-b5fe-db661f5bfb96" class="animal-card">
              <div class="tab-image" style="background-image: url({{ product.featured_image.src | img_url: 'large' }})"><img loading="lazy" bind="4d477715-14f8-b491-b5fe-db661f5bfb98" src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt }}" class="image-cover-3"><img src="{{ 'AquaBotanical_Sparkling350ml_Awards_1200x.jpeg' | asset_url }}" loading="lazy" sizes="(max-width: 767px) 88vw, (max-width: 991px) 42vw, (max-width: 1919px) 21vw, 223.75px" srcset="{{ 'AquaBotanical_Sparkling350ml_Awards_1200x-p-500.jpeg' | asset_url }} 500w, {{ 'AquaBotanical_Sparkling350ml_Awards_1200x-p-800.jpeg' | asset_url }} 800w, {{ 'AquaBotanical_Sparkling350ml_Awards_1200x.jpeg' | asset_url }} 1080w" alt=""></div>
              <div class="tab-content">
                <h1 class="product-title-page-2">{{ product.title }}</h1>
                <div class="grey-divider-2 no-space"></div>
                <div class="pricing-wrapper">
                  <div class="pricing-detail-year">
                    {% if product.compare_at_price > product.price %}<div data-commerce-type="variation-price" bind="4d477715-14f8-b491-b5fe-db661f5bfb9f" class="sae-price-2">{{ product.compare_at_price | money }}</div>{% endif %}
                    <div bind="4d477715-14f8-b491-b5fe-db661f5bfba0" data-commerce-type="variation-price" class="price-text-3">{% if product.price_varies %}{{ product.price_min | money }} - {{ product.price_max | money }}{% else %}{{ product.price | money }}{% endif %}</div>
                  </div>
                </div>
                <div class="grey-divider-2 no-space"></div>
                <div class="button-wrapper central">
                  <a href="{{ product.url | within: collection.url }}" class="solid-blue-button-2 w-button">{{ 'product.A_44' | t }}</a>
                </div>
              </div>
            </div>
          </div>{% endfor %}
        </div>
        {% unless settings.related_collection != blank and collections[settings.related_collection].products_count != 0 %}<div bind="4d477715-14f8-b491-b5fe-db661f5bfbbc" class="w-dyn-empty">
          <div>{{ 'product.DIV_45' | t }}</div>
        </div>{% endunless %}
      </div>
    </div>
  </div>
  <div class="faq01">
    <div class="container-6 w-container">
      <div class="faq01_title_wrap">
        <p class="faq01_title">{{ 'product.P_46' | t }}</p>
        <h3 class="faq01_h3">{{ 'product.H3_47' | t }}</h3>
      </div>
      <div class="faq-wrap _800-max">
        <div class="faq-question-wrap">
          <a href="#" class="faq-question-bar-2 w-inline-block">
            <div class="question-title">{{ 'product.DIV_48' | t }}</div>
            <div data-w-id="1c4dade6-2180-919a-d191-8e6102bbf844" data-animation-type="lottie" data-src="https://uploads-ssl.webflow.com/60e238f957a19b6eced89a9e/60e238f957a19b52fdd89aac_animation-w1024-h1024%20(1).json" data-loop="0" data-direction="1" data-autoplay="0" data-is-ix2-target="1" data-renderer="svg" data-default-duration="3.036369579362504" data-duration="0" data-ix2-initial-state="12" class="animation"></div>
          </a>
          <div class="faq-content">
            <p class="faqs">{{ 'product.P_49' | t }}<br></p>
          </div>
        </div>
        <div class="faq-question-wrap">
          <a href="#" class="faq-question-bar-2 w-inline-block">
            <div class="question-title">{{ 'product.DIV_50' | t }}</div>
            <div data-w-id="1c4dade6-2180-919a-d191-8e6102bbf84d" data-animation-type="lottie" data-src="https://uploads-ssl.webflow.com/60e238f957a19b6eced89a9e/60e238f957a19b52fdd89aac_animation-w1024-h1024%20(1).json" data-loop="0" data-direction="1" data-autoplay="0" data-is-ix2-target="1" data-renderer="svg" data-default-duration="3.036369579362504" data-duration="0" data-ix2-initial-state="12" class="animation"></div>
          </a>
          <div class="faq-content">
            <p class="faqs">{{ 'product.P_51' | t }}<br></p>
          </div>
        </div>
        <div class="faq-question-wrap">
          <a href="#" class="faq-question-bar-2 w-inline-block">
            <div class="question-title">{{ 'product.DIV_52' | t }}</div>
            <div data-w-id="1c4dade6-2180-919a-d191-8e6102bbf856" data-animation-type="lottie" data-src="https://uploads-ssl.webflow.com/60e238f957a19b6eced89a9e/60e238f957a19b52fdd89aac_animation-w1024-h1024%20(1).json" data-loop="0" data-direction="1" data-autoplay="0" data-is-ix2-target="1" data-renderer="svg" data-default-duration="3.036369579362504" data-duration="0" data-ix2-initial-state="12" class="animation"></div>
          </a>
          <div class="faq-content">
            <p class="faqs">{{ 'product.P_53' | t }}<br><br></p>
          </div>
        </div>
        <div class="faq-question-wrap">
          <a href="#" class="faq-question-bar-2 w-inline-block">
            <div class="question-title">{{ 'product.DIV_54' | t }}</div>
            <div data-w-id="1c4dade6-2180-919a-d191-8e6102bbf860" data-animation-type="lottie" data-src="https://uploads-ssl.webflow.com/60e238f957a19b6eced89a9e/60e238f957a19b52fdd89aac_animation-w1024-h1024%20(1).json" data-loop="0" data-direction="1" data-autoplay="0" data-is-ix2-target="1" data-renderer="svg" data-default-duration="3.036369579362504" data-duration="0" data-ix2-initial-state="12" class="animation"></div>
          </a>
          <div class="faq-content">
            <p class="faqs">{{ 'product.P_55' | t }}<br></p>
          </div>
        </div>
      </div>
    </div>
    <a href="/pages/faq" class="solidbluebutton w-button">{{ 'product.A_56' | t }}</a>
  </div>
  <div bind="936351d0-b2b0-ab2e-c8e5-7948d8285d5b" class="footer-section">
    <div class="container-13"><img src="{{ 'AquaB-Logo-White.svg' | asset_url }}" loading="lazy" alt="" class="logo">
      <div class="grey-divider"></div>
      <div class="w-layout-grid footer-grid">
        <div class="footer-link-column-2">
          <div class="footer-link-title">{{ 'product.DIV_57' | t }}</div>
          <a href="/pages/faq" class="footer-link">{{ 'product.A_58' | t }}</a>
          <a href="/pages/become-a-wholesaler" class="footer-link">{{ 'product.A_59' | t }}</a>
          <a href="/pages/support" class="footer-link">{{ 'product.A_60' | t }}</a>
          <a href="/account/login" class="footer-link">{{ 'product.A_61' | t }}</a>
          <a href="/account/register" class="footer-link">{{ 'product.A_62' | t }}</a>
          <a href="/blogs/news" class="footer-link">{{ 'product.A_63' | t }}</a>
        </div>
        <div class="footer-link-column-2">
          <div class="footer-link-title">{{ 'product.DIV_64' | t }}</div>
          <a href="/pages/refund-policy" class="footer-link">{{ 'product.A_65' | t }}</a>
          <a href="/pages/environmental-policy" class="footer-link">{{ 'product.A_66' | t }}</a>
          <a href="/pages/privacy-policy" class="footer-link">{{ 'product.A_67' | t }}</a>
          <a href="/pages/terms-of-service" class="footer-link">{{ 'product.A_68' | t }}</a>
        </div>
        <div class="footer-link-column">
          <div class="footer-link-title">{{ 'product.DIV_69' | t }}</div>
          <a href="http://www.botanicalwater.org/" target="_blank" class="w-inline-block"><img src="{{ '5b22537925fc062336f52e88_BWF-Logo-White.png' | asset_url }}" loading="lazy" alt="botanical water foundation logo white" class="image-56"></a>
        </div>
        <div class="footer-link-column-2">
          <div class="footer-link-title">{{ 'product.DIV_70' | t }}</div>
          <a href="#" class="footer-link">{{ 'product.A_71' | t }}</a>
          <div class="news-block w-form {% if form.posted_successfully? %}udy-form-posted-successfully{% endif %}">{% form 'customer' %}
            <form id="wf-form-Subscribe" name="wf-form-Subscribe" method="post" class="form-2"><div udesly-add-class="form-2"></div><input type="email" class="email-field w-input" maxlength="256" name="contact[email]" placeholder="Email address" id="email" required=""><input type="submit" value="🚀" data-wait="Please wait..." data-w-id="73a00406-2a42-bb7c-c23e-feddbad776ac" class="newsletter-blue w-button">{% include 'general-forms', form %}</form>
            <div class="success-message-3 w-form-done {% if form.posted_successfully? %}udy-form-success-message{% endif %}">
              <div>{{ 'product.DIV_72' | t }}</div>
            </div>
            <div class="error-message-3 w-form-fail {% if form.errors %}udy-form-has-errors{% endif %}">
              <div>{% include 'form-errors' %}</div>
            </div>
          </div>{% endform %}
        </div>
      </div>
    </div>
  </div>
  <div bind="b89ebf75-64bc-30df-ee93-523f10b53aa4" class="footer-footer">
    <div class="w-layout-grid footer1-bottom-grid">
      <div id="w-node-b89ebf75-64bc-30df-ee93-523f10b53aa6-10b53aa4" class="div-block-18">
        <div bind="dd65958b-0278-eb91-ce01-679143d7ff2b" class="footer1-bottom-link w-embed w-script">{{ 'product.DIV_73' | t }}<script>document.write(new Date().getFullYear());</script>{{ 'product.DIV_74' | t }}</div>
        <div class="footer-spacer"></div>
      </div>
      <div class="div-block-18">
        <div class="f01_social_wrap">
          <a href="https://www.instagram.com/aqua_botanical/" target="_blank" class="social-circle w-inline-block"><img src="https://uploads-ssl.webflow.com/608a9ab81483724b68ddf9bb/608a9ab8148372fe82ddfad1_instagram.svg" alt="" class="f01_social_icon"></a>
          <a href="https://www.facebook.com/AquaBotanicalWater" target="_blank" class="social-circle w-inline-block"><img src="{{ 'forest_facebook.svg' | asset_url }}" alt="facebook logo" class="f01_social_icon"></a>
          <a href="https://www.linkedin.com/company/aquabotanical/" target="_blank" class="social-circle w-inline-block"><img src="https://uploads-ssl.webflow.com/608a9ab81483724b68ddf9bb/608a9ab81483725528ddfacc_linkedin.svg" alt="" class="f01_social_icon"></a>
        </div>
      </div>
    </div>
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=61530d352ea7cd652527263a" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="{{ 'webflow.js' | asset_url }}" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->

{% include 'notifications' %}{{ 'udesly-shopify.min.js' | asset_url | script_tag }}{{ 'option_selection.js' | shopify_asset_url | script_tag }}{% include 'single-product-scripts' %}